<nav>
    <ul>
        <a  href="/mainpage"> <img src="/ACM-sigarch-logo.png" /> </a>
        <li><a href="/beginnerpractice">Beginner Practice</a></li>
        <li><a href="/guidedprojects">Guided Projects</a></li>
        <li><a href="/scoreboard">Scoreboard</li>
        <li><a href="/runasimulation">Run a Simulation</a></li>
        <li><a href="/loginout">Log in/out</a></li>
        <li><a href="/myprofile">My Profile</a></li>
    </ul>
</nav>