

body{
    background: #9c9a9a; 
    font-family: verdana; 
    color: black; 
}

h1{
    font-size: 36px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-align: center;
    padding-top: 32px;
}

p{
    font-size: 16px;
    text-align: center;
}

form {
    text-align: center;
    padding-top: 200px;
}


