<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type='text/css' />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Beginner Practice</h1>
  </body>



</html>