<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type='text/css' />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Simulation</h1>
    <p>You wont find another like it anywhere</p>
  </body>

  <img src="/ACM-sigarch-logo.png" />

</html>