<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type='text/css' />
  </head>
  
  <%- include('partials/nav.ejs') %>

  <body>
    <h1>Scoreboard</h1>
  </body>



</html>